---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import knap from "../assets/images/knap.svg";
import bg from "../assets/images/bg.svg";
import skraldespand from "../assets/images/skraldespand.svg";
import skraldebunke from "../assets/images/skraldebunke.jpg";
import round_lines from "../assets/images/round_lines.svg";
import mellem from "../assets/images/mellem.svg";
---

<MainLayout title="Forside">
  <body>
    <Image src={bg} alt="green line" class="absolute left-0 w-[70%] h-auto -z-10" />

    <section class="lg:mt-22">
      <article class="lg:ml-40 ml-30">
        <div class="">
          <h1 class="font-extrabold text-5xl lg:text-[9.5rem] animate__animated animate__fadeInUp">15 MARTS</h1>
        </div>
      </article>
      <article class="font-bold text-right lg:mr-40 mr-30 lg:text-7xl text-3xl lg:mt-2 mt-10 lg:leading-21 animate__animated animate__fadeInUp">
        <h2>DIGITAL</h2>
        <h2>SKRALDE</h2>
        <h2>DAG</h2>
        <h2 class="font-light">2025</h2>
      </article>
    </section>
    <section>
      <p class="m-20 lg:mt-70 mt-35 lg:mr-170 font-light lg:text-xl leading-9 animate__animated animate__fadeInUp">
        Siden 2020 har 175 forskellige lande og territorier deltaget i Digital Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5 millioner GB data, hvilket har forhindret den årlige
        produktion af omkring 3.625 tons CO2
      </p>
    </section>
    <section class="grid lg:grid-cols-2 lg:mt-32 mt-25 m-20 gap-20 fadein">
      <div>
        <h3 class="text-4xl font-bold">DIGITAL SKRALDEDAG</h3>
        <p class="mt-5 lg:mr-20 font-light lg:text-xl leading-9">
          Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. Nu i sit femte år og organiseret af Let's Do It
          World har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online
          tilstedeværelse.
        </p>
      </div>
      <div class="">
        <Image src={skraldespand} alt="skraldespand" class="w-[90%] place-self-center" />
      </div>
    </section>
    <section class="mt-32 place-self-center">
      <Image src={round_lines} alt="round line" class="absolute right-0 lg:w-[15%] w-[23%] h-auto -z-10 -mt-60" />
      <div class="grid grid-cols-3 lg:gap-60 gap-10 font-bold fadein2">
        <article>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-17 place-self-center">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
            ></path>
          </svg>
          <p class="text-center mt-5 lg:text-4xl">1,184,747</p>
          <p class="text-center lg:mt-5 mt-2 lg:text-2xl font-thin">Deltagere</p>
        </article>
        <article>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-17 place-self-center">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75"
            ></path>
          </svg>
          <p class="text-center mt-5 lg:text-4xl">14.5 M BG</p>
          <p class="text-center lg:mt-5 mt-2 lg:text-2xl font-thin">Af data slettet</p>
        </article>
        <article>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-17 place-self-center">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525"
            ></path>
          </svg>
          <p class="text-center mt-5 lg:text-4xl">3,625 tons</p>
          <p class="text-center lg:mt-5 mt-2 lg:text-2xl font-thin">Af CO2-produktion forhindret årligt</p>
        </article>
      </div>
    </section>
    <section class="mt-32 m-20 text-center fadein3">
      <h3 class="lg:text-5xl text-3xl font-bold">VÆR MED TIL AT GØRE EN FORSKEL</h3>
      <a
        href="/form"
        class="bg-[url('knap_baggrund.svg')] hover:bg-[url('baggrund2.svg')] transition-all duration-500 lg:p-15 p-10 bg-contain bg-center bg-no-repeat inline-block lg:text-2xl text-white drop-shadow-lg lg:mt-15 mt-5 font-bold"
        >REGISTRER DIT CLEANUP</a
      >
    </section>
    <section class="mt-32 m-20">
      <div class="grid lg:grid-cols-2 gap-20">
        <div>
          <h3 class="text-3xl font-bold fadein4">FAKTA OM DIGITAL SKRALD</h3>
          <Image src={mellem} alt="mellem streg" class="absolute lg:w-[10%] w-[20%] h-auto -z-10 left-0" />
          <div class="fadein5">
            <p class="mt-5 font-light text-xl leading-9">Det kræver mere energi at udvinde Bitcoin, end hele New Zealand forbruger på et år! (a), (b)</p>

            <p class="mt-5 font-light text-xl leading-9">
              På blot ét år (2007) blev der skabt én zettabyte data på verdensplan. I 2010 var dette fordoblet. I 2035 vil vi skabe mere end 2.000 zettabytes. For at printe én zettabyte data ville man
              have brug for papir fra 20 billioner træer. Der er kun omkring 3,5 billioner træer tilbage på planeten, så det er ikke muligt. (a), (b)
            </p>

            <p class="mt-5 font-light text-xl leading-9">
              I 2022 blev omkring 70 millioner servere brugt til at lagre data. Hver af dem forårsagede produktionen af 1–2 tons CO2. Samme år blev omkring 20 millioner af dem til elektronisk affald.
              (a)
            </p>

            <p class="mt-5 font-light text-xl leading-9">99 % af al data er blevet skabt inden for de sidste 10 år. (a)</p>
          </div>
        </div>
        <div>
          <Image src={skraldebunke} alt="skraldebunke" class="w-[90%] place-self-center fadein7" format="webp" />
        </div>
      </div>
    </section>
  </body>
</MainLayout>

<script>
  import { inView } from "motion";

  const textFadeIn = document.querySelector(".mitelement");

  inView(textFadeIn, () => {
    textFadeIn.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn = document.querySelector(".fadein");

  inView(FadeIn, () => {
    FadeIn.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn2 = document.querySelector(".fadein2");

  inView(FadeIn2, () => {
    FadeIn2.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn3 = document.querySelector(".fadein3");

  inView(FadeIn3, () => {
    FadeIn3.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn4 = document.querySelector(".fadein4");

  inView(FadeIn4, () => {
    FadeIn4.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn5 = document.querySelector(".fadein5");

  inView(FadeIn5, () => {
    FadeIn5.classList.add("animate__animated", "animate__fadeInUp");
  });

  const FadeIn7 = document.querySelector(".fadein7");

  inView(FadeIn7, () => {
    FadeIn7.classList.add("animate__animated", "animate__fadeInUp");
  });
</script>
